.about {
  &__main {
    position: relative;
    @include fit('margin-top', 150, 50, 1);
    @include fit('margin-bottom', 150, 50, 1);
    display: grid;
    align-items: center;
    grid-template: minmax(rem(700), auto) / minmax(auto, rem(555)) auto;
    @include tablet {
      margin-left: rem(-15);
      margin-right: rem(-15);
      grid-template: minmax(auto, rem(300)) auto / 1fr;
    }
  }
  &__image {
    height: 100%;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      left: 0;
      top: 0;
      border: 10px solid rgba(0, 0, 0, .2);
      z-index: 2;
    }
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(to top, rgba(252, 95, 69, 0.6), rgba(0, 0, 0, 0.2));
      z-index: 1;
    } 
  }
  &__info {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
    @include fit('padding-left', 83, 20, 1);
    @include fit('padding-right', 83, 20, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include fit('gap', 30, 20, 1);
    max-height: rem(550);
    max-width: rem(652);
    height: 100%;

    &::before {
      position: absolute;
      content: '01';
      left: 0;
      top: 0;
      font-family: 'Poppins';
      font-weight: 600;
      @include fit('font-size', 274, 137, 1);
      line-height: 0.85;
      color: rgba(224, 224, 224, 0.3);
      z-index: -1;
    }

    @include tablet {
      position: relative;
      max-height: unset;
      max-width: unset;
      padding-top: rem(20);
      padding-bottom: rem(20);
    }
  }
}

