.pricing {
  background-color: #f7f7f7;
  &__main {
    @include fit('margin-top', 201, 50, 1);
    @include fit('padding-bottom', 150, 50, 1);
    &::before{content: '06'}
  }
  &__body {
    display: grid;
    text-align: center;
    @include fit('gap', 30, 20, 1);
    grid-template: 1fr / repeat(3, 1fr);
    @include tablet {
      grid-template: repeat(3, 1fr) / 1fr;
    }
  }
  &__item {
    background-color: #fff;
    box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.05);
    @include fit('padding-bottom', 37, 20, 1);
    &::before {
      bottom: unset;
      top: 0;
    }
    &:nth-child(1)::before {background-color: $green;}
    &:nth-child(2)::before {background-color: $red;}
    &:nth-child(3)::before {background-color: $violet;}
  }
}

.item-pricing {
  &__title {
    font-size: rem(20);
    font-weight: 500;
    @include fit('line-height', 80, 50, 1);
    color: #313131;
  }
  &__price {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(5);

    font-size: rem(13);
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: rem(106);
    height: rem(106);
    border-radius: 50%;

    &::before {
      position: absolute;
      content: '';
      width: rem(98);
      height: rem(98);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid #fff;
      border-radius: 50%;
    }
    &_green{background-color: $green;}
    &_red {background-color: $red;}
    &_violet{background-color: $violet;}
  }
  &__price-number {  
    font-size: rem(25);
  }
  &__list {
    @include fit('padding-top', 40, 15, 1);
    @include fit('padding-bottom', 40, 15, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list-item {
    position: relative;
    @include fit('line-height', 40, 30, 1);

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      &::before {
        position: absolute;
        content: '✓';
        font-weight: 600;
        left: rem(-20);
        top: 0;
        color: #313131;
      }
    }
    & span {
      font-weight: 500;
    }
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(16);
    font-weight: 600;
    border-radius: rem(25);
    height: rem(50);
    width: rem(180);
    transition: .26s ease;
    &_green {
      border: 2px solid $green;
      color: $green;
      @include pc {&:hover {background: $green; color: #fff;}}
    }
    &_red {
      border: 2px solid $red;
      color: $red;
      @include pc {&:hover {background: $red; color: #fff;}}
    }
    &_violet{
      border: 2px solid $violet;
      color: $violet;
      @include pc {&:hover {background: $violet; color: #fff;}}
    }
  }
}
