@import 'lib/resetstyle';
@import 'lib/mixins';
@import 'lib/fonts';
@import 'lib/icon-fonts';
@import 'lib/burger';
// @import 'lib/animationToScroll';
// @import 'lib/accordion';
// @import 'lib/scrollbar';
// @import '../../node_modules/swiper/swiper.scss';

/* General */
@import 'general';

/* ======== Blocks ======== */

/* header */
@import 'blocks/header';

/* intro */
@import 'blocks/intro';

/* about */
@import 'blocks/about';

/* focus */
@import 'blocks/focus';

/* video */
@import 'blocks/video';

/* portfolio */
@import 'blocks/portfolio';

/* team */
@import 'blocks/team';

/* numbers */
@import 'blocks/numbers';

/* work */
@import 'blocks/work';

/* pricing */
@import 'blocks/pricing';

/* testimonials */
@import 'blocks/testimonials';

/* select */
@import 'blocks/select';

/* blog */
@import 'blocks/blog';

/* footer */
@import 'blocks/footer';